body {
    background-color: #3a7cb9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155vh;
    margin: 0;
    padding: 0;
}
  
.container-bucket {
    position: relative;
    left: -50px;
    z-index: 1;
}
  
.bucket {
    position: relative;
    width: 320px;
    height: 320px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background: linear-gradient(to right, #8e8d8d, #212020);
}
  
.top {
    position: absolute;
    background: linear-gradient(to right, #545353, #d9d9d9);
    top: -30px;
    left: 0;
    width: 100%;
    height: 66px;
    border-radius: 50%;
}
  
.circle {
    position: absolute;
    top: -16px;
    left: 18px;
    width: calc(100% - 11%);
    height: 50px;
    background: #00FFFF;
    border-radius: 50%;
}
  
.handle {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 150px;
    border: 10px solid #000;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-top: none;
    /* z-index: 1; */
}

.container-rod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -165px;
}
.handle-rod {
    width: 38px;
    height: 82px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    right: 113px;
    bottom: 51px;
}

.rod {
    width: 8px;
    height: 111px;
    background-color: silver;
    position: relative;
    right: 113px;
    bottom: 51px;
}
.coil {
    width: 30px;
    height: 150px;
    border: 3px solid silver;
    border-radius: 50%;
    border-top: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} .cord {
    width: 5px;
    height: 52px;
    background: linear-gradient(90deg, #444 50%, #888 50%);
    background-size: 10px 10px;
    background-repeat: repeat;
    position: absolute;
    top: -50px;
    left: 46%;
    transform: translateX(-50%);
    border-radius: 50px;
    /* border-top-left-radius: 437%;
    border-top-right-radius: 22%; */
}

.spring {
    width: 40px;
    height: 130px;
    position: relative;
    right: 113px;
    bottom: 51px;
}
.spring span {
    display: block;
    width: 88%;
    height: 14px;
    border: 2px solid silver;
    border-radius: 42%;
    margin-top: -10px;
    box-sizing: border-box;
}
/* switch css     */
.switchArea{
width: 220px;
height: 150px;
background-color: #fff;
display: flex;
align-items: center;
justify-items: center;
border-radius: 10px;
box-shadow: inset0 10px 15px rgba(0, 0,0, 0.37);
position: relative;
bottom: 465px;
right: 282px;
}
.switchArea ul{
margin: 0;
padding: 0;
list-style: none;
width: 260px;
height: 140px;
/* background: #ccc; */
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
}
.switchArea ul li {
background: linear-gradient(360deg, #fff,#ccc);
display: inline-block;
width: 40%;
height: 64%;
border: 10px solid #ddd;
box-shadow: inset 0px, -15px 15px -15px rgba(0, 0,0, 0.8) inset 0 15px 15px -15px -15px rgba(0, 0,0, 0.5);
transition: 0.3s ease-out;
margin-left: -4px;
}
/* .switchArea ul li:first-child{
border-right:  0px solid #ddd;
}  */
.switchArea ul li span {
display: block;
text-align: center;
width: 100%;
justify-content: center;
display: flex;
}
.switchArea ul li span::before{
content: "";
width: 35px;
height: 8px;
border-radius: 15px;
background: grey;
font-weight: 700;
position: relative;
top: 20px;
}
.switchArea ul li.active span::before{
box-shadow: 0 0 15px 0px green;
background: rgba(0,0,0,0);
transition: box-shadow 0.3s ease;
background: green;
}
.switchArea ul li.active{
background: linear-gradient(180deg, #ccc, #fff);
box-shadow: inset 0px, -15px 15px -15px rgba(0, 0,0, 0.8) inset 0 15px 15px -15px -15px rgba(0, 0,0, 0.1);
position: relative;
}

.socket{
    width: 0;
    height: 0;
    top: 10px;
    border: 50px solid transparent;
    border-top: 0;
    border-bottom: 100px solid black;
    margin-right: 20px;
}
.wire2{
    width: 200px;
    height: 5px;
    background: linear-gradient(90deg, #444 50%, #888 50%);
    background-size: 10px 10px;
    top: -343px;
    right: 136px;
    position: relative;
    /* border-top-left-radius: 437%;
    border-top-right-radius: 22%; */
}

.vapour {
    width: 20px;
    height: 40px;
    background: rgba(200, 200, 255, 0.7);
    border-radius: 50%;
    pointer-events: none;
}

.wire3{
    width: 5px;
    height: 75px;
    background: linear-gradient(90deg, #444 50%, #888 50%);
    background-size: 10px 10px;
    top: -121px;
    right: -212px;
    position: relative;
    z-index: 1;
}


.vapour, .bubble {
    width: 15px;
    height: 15px;
    background: rgba(211, 216, 216, 0.7);
    position: absolute;
    border-radius: 50%;
    animation: rise 2.5s ease-out forwards;
    z-index: 1;
}

.bubble {
    background: rgba(230, 234, 230, 0.7);
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}